* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* NAVBAR */

.nav-serter{
  background-color:#f5f4f4 ;
}
.name{
  display: inline-block;
  font-family:Roboto;
  font-size:1.2rem;
  color: #eb5e0b !important;
  
}

.name:hover{
color: #ffb26b !important;

}


.link-home {
 
  text-decoration: underline !important;
}

.menu-item{
  padding-right: 5rem;
  
}

.listed a{
  color:#eb5e0b !important;
  transition:color !important;
  transition-duration: 1s !important;
  
  transition-timing-function: ease-in !important;
}

.listed a:hover{
  transform: scale(1.1);
  color:#f58634;

}

/* About me */
.about-me{
  margin-top: 1.8rem;
}
.about-me h2, h3{
  color:#eb5e0b ;
}
.img-myself{
  width:100%;
}
.my-img{
  padding-bottom:1.3rem;
}

.education-list{
  list-style-type: none
}

/* Works section */

.work-example{

  margin-top: 10rem;
  background-image: url(images/website1.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}

.work-example h3{ 

  text-align:center;
  
 
  
}

.more-btn{
  width:50%;
  background-color:#f58634;
  text-align:center;
  
  margin-top: 1.3rem;
}

@media (max-width:788px){
.more-btn{
  display: block !important;
}

}