* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* NAVBAR */

.nav-serter{
  
}
.name{
  display: inline-block;
  font-family:Roboto;
  font-size:1.2rem;
 
  
}

.name:hover{
color: #ffb26b !important;

}


.link-home {
 
  text-decoration: underline !important;
}

.menu-item{
  padding-right: 6rem;
  
}

.nav-link{
  
}

.nav-link:hover{
  transform: scale(1.1);
  color:#f58634;

}

@media (max-width:990px){

  .nav-link:hover{
    transform: none !important;
    
  
  }
}

/* About me */
.about-me{
  

  background-image: url(images/laptop1.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.about-me h2, h3{
  color:#eb5e0b ;
}
.img-myself{
  padding-top: 3rem;
  width: 30%;
  
}

#about-me{
  margin-top:3rem;
}
.social-us{
  width: 10%;
  padding-left: 2rem;
  
}
#linkedin{
  color:white;
}
.social-me{
  padding-left: .9rem;
  
  
  display: inline-block;
}

.social-me2{
  display: inline-block;
  color: ;
  background: linear-gradient(45deg, #405DE6,#5051DB, #833AB4, #C13584, #E1306C,#FD1D1D);
}

.education-list{
  list-style-type: none
}

/* Works section */

.work-example{

  margin-top: 2rem;
  background-image: url(images/website1.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}

.work-example h3{ 

  text-align:center;
  
  
 
  
}
#work-selected{
  text-align: center;
  color: #ffb26b;
  margin-bottom: 1.1em;
}

.more-btn{
  width:50%;
  background-color:#f58634;
  text-align:center;
  
  margin-top: 1.3rem;
  margin-bottom: .8rem;
}

@media (max-width:788px){
.more-btn{
  display: block !important;
}

}

/* References */
.reference{
  text-align: center;
  margin-top: 4rem;
  

}
#reference-1{
  font-size: 1.8rem;
  font-family: Roboto;
  font-weight: 800;

}
.reference-list{
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.references{
  margin-top:4rem;
  background-color: #f6f5f5;
}
.ref-img{
  width: 100%;

}
.ref-link :hover{
  transform: scale(1.1);

}



.type-work{
  padding-top: 1.8rem;
  text-align: center;
  color: #eb5e0b;


}

/* Contact Form */

.intro-contact{
  padding-left: 3rem;
}

#contact{
  margin-top: 2rem;
  margin-left:1.3rem;
  
  background-color: #f5f4f4;
  
}
.contact-us{
  padding-left: 3rem;
  padding-top: 2rem;
  
 
 
}
.inputs{
  
  padding-bottom: .7rem;
  padding-top: .7rem;
 text-align: center;
  resize: none;
  display: block;

}
  
  

.input{
  
  font-family: Roboto;
  font-size: 1.2rem;
  color: #eb5e0b;
 display: block;
  

}
.button{
  margin-top: 1.1rem;
  margin-bottom: 1rem;
 line-height: 2;
 word-spacing: 2px;
 text-align: center;
 letter-spacing: 5px;
 padding-left: 1rem;
 padding-right: 1rem;
 border-radius: 10px;
 background-color: #ffb26b;
}
.button:hover{
  color: white;
  background-color: black;
}

/* Footer */

footer{
  margin-top: 2rem;
  background-color: #cfdac8;
}
footer .footer-links{
  padding-left: 1rem;
  margin-top: 1rem;
}

footer ul li{
  display: inline;
}

footer ul {
  display: inline-block;
}

.social{
  margin-left:1.5rem;
}

.social1{
  display: inline-block;
  margin-top: 1rem;
  
}

footer .privacy a{
  text-decoration: none;
  color: #eb5e0b;
}
footer span{
  padding-left: 5rem;
}

footer .footer-links a{
  text-decoration: none;
  color: #eb5e0b;
}

@media (max-width:1000px){
  footer span{
    padding-left: 0;
  }
}
